.header{
    height: 250px;
    background-image: url("../images/6127d724aa481f0004ea72c6.png");
    background-size: contain;
    background-position-y: center;
    background-repeat: no-repeat;
    background-position: center;
}